@{
    ViewBag.Title = "About";
}

<div class="page-title" style="background-image: url(/Content/images/page-title.png)">
    <h1>@ViewBag.Title</h1>
</div>

<h2>@ViewBag.Message</h2>
<br>

<h4>Hi, I'm Sam Zhao. </h4> 
<p>Check my github repos to find out more projects: <a href="https://github.com/kasaluoqi?tab=repositories">https://github.com/kasaluoqi?tab=repositories</a></p>
