@{
    ViewBag.Title = "Contact";
}
<div class="page-title" style="background-image: url(/Content/images/page-title.png)">
    <h1>@ViewBag.Title</h1>
</div>

<h2>@ViewBag.Message</h2>
<br>

<h4>Hi, I'm Sam Zhao. If you want to know more about me, please check following links!</h4>
<address>
    <strong>My Profolio:</strong>   <a href="https://kasaluoqi.github.io/my-react/">https://kasaluoqi.github.io/my-react/</a><br />
    <strong>My Github:</strong> <a href="https://github.com/kasaluoqi?tab=repositories">https://github.com/kasaluoqi?tab=repositories</a><br />
    <strong>My Linkedin:</strong> <a href="https://www.linkedin.com/in/hanfang-zhao-ba4635191/">https://www.linkedin.com/in/hanfang-zhao-ba4635191/</a><br />
</address>